<a href="/authenticate/login" class="btn btn-info">Login</a>

<div class="heading d-flex justify-content-around align-items-center">
  <h1>All users</h1>
<a href="/action/create"><button class="btn btn-dark btn-block">Utwórz</button></a>
</div>

<hr>

{{#if users}}

<table class="table table-striped">
  <thead>
    <tr>
      <th>User id</th>
      <th>Name</th>
      <th>Email</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    {{#each users}}
      <tr>
        <td>{{dataValues.userId}}</td>
        <td>{{dataValues.name}}</td>
        <td>{{dataValues.email}}</td>
        <td>
          <form action="/action/destroy/{{dataValues.userId}}?_method=DELETE" method="post" class="d-inline">
            <button type="submit" class="btn btn-info d-inline">Usuń</button>
          </form>
          <a href="/action/edit/{{dataValues.userId}}" class="btn btn-warning">Edit</a>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>

{{/if}}

{{#unless users}}
  <h2>No data</h2>
{{/unless}}